/* Estilos globales - FontAwesome */
@import '~@fortawesome/fontawesome-free/css/all.css';

/**
 * Variables de color de Ionic en :root
 * Necesarias para overlays (action-sheets, alerts, modals) que se renderizan fuera del body
 */
:root {
  --ion-color-primary: #348fe2;
  --ion-color-primary-rgb: 52, 143, 226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2e7ec7;
  --ion-color-primary-tint: #489ae5;
}